.centeredView {
  background-color: #2f0482;
  padding: 10px;
  flex: 1;
}

.ticketsWrapper {
  background-color: white;
  padding: 10px 0;
  padding-top: 0;
  border-radius: 15px;
  flex: 1;
  margin-top: 10px;
}

.buyTypesButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2f0482;
}

.active {
  padding: 20px 0;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.activeText {
  color: #2f0482;
  font-weight: initial;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.ticketIcon {
  transform: rotate(-45deg);
}

.inActive {
  padding: 20px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 50%;
  background-color: #2f0482;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inActiveText {
  color: white;
  font-weight: initial;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.cardtIcon {
  color: white;
}

/* Empty Component */
.emptyComponent {
  padding: 16px;
  align-items: center;
}

.container {
  margin-top: 4px;
  border-radius: 20px;
  border: 1px solid #2f0482;
  overflow: hidden;
  color: red;
}

.textStyle {
  color: #2f0482;
  font-size: 14px;
}

.bookingForm {
  padding: 0 20px;
}

.action {
  margin-top: 25px;
}

.actionTitle {
  color: #2f0482;
  font-weight: initial;
  font-size: 13px;
}

.stationsList {
  background-color: white;
  padding: 4px 15px;
  border: 1px solid #2f0482;
  border-radius: 100px;
  margin-top: 15px;
}

.searchInput {
  padding: 8px 20px;
  border: 1px solid #2f0482;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.dropdownLeftIcon {
  margin-right: 5px;
}

.dateTime {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 48%;
  padding: 10px;
  border: 1px solid #2f0482;
  border-radius: 100px;
  /* margin-right: 5px; */
}

.dateContainerText, .timeContainerText {
  font-size: 16px;
  color: #2f0482;
}

.calendarIcon, .clockIcon {
  margin-right: 5px;
}

.timeContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 48%;
  padding: 10px;
  border: 1px solid #2f0482;
  border-radius: 100px;
  /* margin-left: 5px; */
}

.comfort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 0;
  border: 1px solid #2f0482;
  border-radius: 100px;
  overflow: hidden;
}

.comfortButton {
  width: 100;
  padding: 15px 0;
}

.comfortButtonText {
  color: #2f0482;
  font-size: 16px;
  text-align: center;
}

.activeButton {
  width: 100;
  padding: 15px 0;
  background-color: #2f0482;
}

.activeButtonText {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
}